<a href="https://colab.research.google.com/github/liljar2004-sudo/Kenjar_DTSC3020/blob/main/assignment2_kw0079_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print("pear ,dragonfruit ,peach")
print("pear")
print("dragonfruit")
print("peach")

pear ,dragonfruit ,peach
pear
dragonfruit
peach

In [8]:
my_list = ["kenjar", "josh", "penny", "brandon"]
my_list[0] = "kenjar Williams"
print(my_list)

['kenjar Williams', 'josh', 'penny', 'brandon']

In [9]:
my_list = ["infinti, jeep, kia, bentley, miata"]
my_list.append("honda")
print(my_list)

['infinti, jeep, kia, bentley, miata', 'honda']

In [17]:
my_list = ["pie", "apples", "pizza", "chicken", "steak", "donuts"]
print(my_list)
my_list.remove("apples")
print(my_list)

['pie', 'apples', 'pizza', 'chicken', 'steak', 'donuts']
['pie', 'pizza', 'chicken', 'steak', 'donuts']

In [19]:
my_list = ["denton", "austin", "houston", "san antonio"]
my_list.sort()
print(my_list)
my_list.reverse()
print(my_list)

['austin', 'denton', 'houston', 'san antonio']
['san antonio', 'houston', 'denton', 'austin']

In [20]:
my_list = ["dog", "cat", "capybara"]
for animal in my_list:
  print(animal)

dog
cat
capybara

In [21]:
my_list = [1, 2, 3, 4, 5]
for number in my_list:
  print(number *2)

2
4
6
8
10

In [34]:
my_list = ["benji", "ose", "zay", "aron", "andrew", "dre"]
print(my_list [0:3])
print(my_list [3:6])

['benji', 'ose', 'zay']
['aron', 'andrew', 'dre']

In [39]:
number = range(1, 10)
for number in range(1, 11):
 print(number)

1
2
3
4
5
6
7
8
9
10

In [44]:
my_list = [1, 2, 3, 4, 5]
for number in my_list:
  print(number **2)

1
4
9
16
25