<a href="https://colab.research.google.com/github/liljar2004-sudo/Kenjar_DTSC3020/blob/main/assignment4_kw0079.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

lowest_student = min(grades, key=grades.get)
print(f"The student with the lowest grade is {lowest_student} with a grade of {grades[lowest_student]}.")

The student with the lowest grade is Omid with a grade of 16.

In [2]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}

for student, course_list in courses.items():
    if any("Data" in course for course in course_list):
        print(student)

Sara
Reza

In [3]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

for title, info in library.items():
    if not info['available']:
        print(title)

AI Basics
Math Advanced

In [4]:
registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

for student, courses in registrations.items():
    if len(courses) > 2:
        print(student)

Sara
Lina

In [5]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

average = sum(grades.values()) / len(grades)
print(f"The average grade of the class is {average:.2f}")

The average grade of the class is 18.10

In [6]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

count_python = sum('Python' in course_list for course_list in courses.values())
print(f"Number of students registered for Python: {count_python}")

Number of students registered for Python: 3

In [7]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}

for title, pages in book_pages.items():
    if pages > 200:
        print(title)

AI Basics
Math Advanced
Data Science

In [8]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

for student, course_list in courses.items():
    print(f"{student}: {len(course_list)} courses")

Ali: 2 courses
Sara: 2 courses
Reza: 2 courses
Lina: 2 courses
Omid: 1 courses